title: "The Japanese Maple Book"
description: "A comprehensive guide to Japanese Maples."
url: "https://rightedges.github.io" # the base hostname & protocol for your site, e.g. http://example.com
baseurl: "/japanese-maple-book" # the subpath of your site, e.g. /blog
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag

markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge
